body {
  background-color: #68c3d4;
}

.name {
  text-align: center;
  font-size: 40px;
  font-family: "Chelsea Market", cursive;
  color: #ffe8d1;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.nav-list a {
  color: #ffffff;
  font-family: "Chelsea Market", cursive;
  padding: 7px;
}

.home-container, .about-container, .projects-container, .interests-container, .contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #568ea3;
}

.skills-header {
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #ffe8d1;
  font-size: 30px;
  text-decoration: underline;
}

.skill-type {
  color: #ffe8d1;
  font-size: 20px;
}

.skill-names {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.front-end, .back-end {
  display: flex;
  flex-direction: row;
}

.front-end-list, .back-end-list {
  list-style: none;
}

.html {
  color: #ff5733;
  padding: 5px;
}

.css {
  color: #0099e5;
  padding: 5px;
}

.js {
  color: #f7df1e;
  padding: 5px;
}

.react {
  color: #00d8ff;
  padding: 5px;
}

.node {
  color: #6cc24a;
  padding: 5px;
}

.express {
  padding: 5px;
}

.sql {
  color: #0064a5;
  padding: 5px;
}

.rails {
  color: #cc0000;
  padding: 5px;
}

.about-header {
  color: #ffe8d1;
  font-family: "Chelsea Market", cursive;
}

.summary, .about-blurb {
  text-align: center;
  color: #ffe8d1;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.project-1, .project-2, .project-3, .project-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #568ea3;
}

.project-name {
  color: #ffe8d1;
  font-family: "Chelsea Market", cursive;
}

.project-blurb {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #ffe8d1;
}

.project-github-link {
  color: #ffe8d1;
}

.project-image, .zipline, .profile-photo {
  height: 80vh;
  width: 80vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px;
}

.interests-container {
  color: #ffe8d1;
}

.interests-header {
  text-align: center;
  font-family: 'Chelsea Market', cursive;
}

.favorites {
  list-style: none;
  font-family: "Ubuntu Condensed", sans-serif;
}

.contact-info {
  font-family: "Chelsea Market", cursive;
  color: #ffe8d1;
}

.contact-link {
  color: #ffe8d1;
}

.footer {
  text-align: center;
  font-family: "Chelsea Market", cursive;
  color: #ffe8d1;
}